.login-wrapper{
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 3em auto;
    font-family: Montserrat;
    text-align: center;
    border-radius:  1.5em;
    border: solid #bbb 1px;
    background: #ffffff40;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 5px 5px 10px #161b1d3b;
}
.login-structure{
    padding: 1.25em 2em 1.25em 1.25em;
}
.login-form input{
    width: 100%;
    padding: 1em 1.5em;
    font-size: 1em;
    font-family: Montserrat;
    border-radius: 2em;
    border: solid white 1px;
    box-shadow: 3px 3px 6px #161b1d3b;
    box-sizing: border-box;
    background-color: white;
    margin: .5em 0;
    transition: all .25s ease;
}
form input[type="submit"]:focus, form input:focus {
    outline: none;
    box-shadow: 7px 7px 14px #161b1d3b;
    transform: scale(1.05);
}
form input[type="submit"]{
    color: white;
    background-color: teal;
    border: solid teal 1px;
    box-shadow: 4px 4px 8px #161b1d3b;
}
form input[type="submit"] + input[type="reset"]{
    margin-left: 1em;
}
form input[type="submit"]:active{
    transform: scale(0.9);
}
.alternatives {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.alternatives>span{
    margin-right: 1em;
}
.illustration{
    border-radius: 2em;
}
.illustration img{
    width: 450px;
    height: auto;
    background-color: transparent;
    border-radius: 3em;
    
}
.illustration p{
    font-size: 2em;
    color: rgb(0, 0, 36);
    font-weight: bolder;
    margin-bottom: 1em;
    background-color: transparent;
    border-radius: 3em;
}
.login-head{
    margin-bottom: 1em;
}
.forgotten-password, .confirm-code{

    width: fit-content;
    margin: 3em auto;
    padding: 2em;
}
.login-head p{
    width: 60%;
    margin: 2em auto;
}
.buttons{
    margin: 1em 0 0;
    display: flex;
    justify-content: flex-end;
}
.login-form .buttons input{
    width: fit-content;
}
.create-account-wrapper p{
        font-size: 1.5em;
        color: rgb(0, 0, 36);
        font-weight: bolder;
        margin-bottom: 1em;
        background-color: transparent;
        border-radius: 3em;
}




.bubble{
    border-radius: 100vw;
    position: absolute;
    top: 0%;
    z-index: -1;
    box-shadow: 10px 10px 20px #161b1d3b;
}
.small-bubble{
    width: 10vw;
    height: 10vw;
}
.medium-bubble{
    width: 17vw;
    height: 17vw;
}
.big-bubble{
    width: 25vw;
    height: 25vw;
}
.red{
    background: linear-gradient(to left top, #ffb330, #fffcce);
}
.green{
    background: linear-gradient(to left top, #18a5a7, #bbffc7);
}
.yellow{
    background: linear-gradient(to left top, #ff564e, #fad126);
}



/*
    animations
*/
@keyframes bubble1 {
    0%{top: 5%; left: 5%;}
    40%{transform: rotate(-25deg); transform-origin: 100vw 0;}
    80%{transform: rotate(-25deg); transform-origin: -100vw 200vh;}
    100%{top: 5%; left: 5%;}
}
@keyframes bubble2 {
    0%{transform: translate(5vw, 20vh);}
    25%{transform: translate(-10vw, 100vh);}
    50%{transform: translate(20vw, -70vh);}
    75%{transform: translate(-15vw, -50vh);}
    100%{transform: translate(5vw, 20vh);}
}
@keyframes bubble3 {
    0%{transform: translate(5vw, 20vh);}
    25%{transform: translate(-10vw, -30vh);}
    50%{transform: translate(20vw, -25vh);}
    75%{transform: translate(-15vw, 35vh);}
    100%{transform: translate(5vw, 20vh);}
}
@keyframes bubble4 {
    0%{transform: translate(20vw, 65vw);}
    25%{transform: translate(-10vw,-25vw);}
    50%{transform: translate(-5vw, -25vw);}
    70%{transform: translate(-5vw, -15vw);}
    100%{transform: translate(20vw, 65vw);}
}
@keyframes bubble5 {
    0%{transform: rotate(-120deg); transform-origin: 100vh 100vw;}
    25%{transform: rotate(120deg); transform-origin: 50vh 50vw;}
    50%{transform: rotate(-120deg); transform-origin: 100vh 100vw;}
    75%{transform: rotate(-100deg); transform-origin: 50vh 50vw;}
    100%{transform: rotate(-120deg); transform-origin: 100vh 100vw;}
}
@keyframes bubble6 {
    100%{transform: rotate(360deg); transform-origin: 50vw 50vh;}
}