<nav class="navigation-bar">
    <div class="nav-head" onload="changeBackground();">
        <h1>{{account.name}}</h1>
        <h2>{{account.phoneNumber}}</h2>
    </div>
    <a href="inbox.html" class="active"><i class="bi bi-chat-left-text"></i> Conversations <span class="sms-counter">99+</span></a>
    <a href="#"><i class="bi bi-chat-left-text"></i>Drafts</a>
    <a href="Contacts.html"><i class="bi bi-chat-left-text"></i> Contacts</a>
    <a href="#"><i class="bi bi-chat-left-text"></i> Options</a>
    <a href="#"><i class="bi bi-chat-left-text"></i> Log out</a>
</nav>
