.contact-list-header{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background: rgb(243, 243, 255);
    border-bottom: solid #d8d8d8 1px;
    z-index: 3;
}
.content{
    flex-grow: 1;
    min-width: 50%;
    padding: 1em .5em;
}
.content h1{
    font-size: 1.5em;
    margin: 0 .625em;
    padding: 0em;
    border: 0px;
    margin-block-start: 0em;
    margin-block-end: .5em;
}
#discussionSearch{
    font-family: 'Montserrat Light';
    background-color: white;
    box-sizing: border-box;
    height: 2.2em;
    margin: 0em auto 1.5em;
    padding: .5em 1em;
    font-size: .8em;
    border-radius: 50vw;
    outline: none;
    min-width: 90%;
    border: 1px solid white;
    box-shadow: -3px -3px 6px #fafbff, 3px 3px 6px #161b1d3b;
    transition: all .3s ease;
}
#discussionSearch:focus{
    border: solid 1px #bbb;
    box-shadow: none;
    outline: none;
    transition: all .3s ease;
}