<div class="contacts">
    <app-contact-header></app-contact-header>
    <div class="contact-list">
        <app-contact-item></app-contact-item>
        <app-contact-item></app-contact-item>
        <app-contact-item></app-contact-item>
        <app-contact-item></app-contact-item>
        <app-contact-item></app-contact-item>
        <app-contact-item></app-contact-item>
        <app-contact-item></app-contact-item>
        <app-contact-item></app-contact-item>
        <app-contact-item></app-contact-item>
        <app-contact-item></app-contact-item>
    </div>
</div>